.header__lang-link {

  color: white;
  text-decoration: none;
  transition: opacity .4s linear;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  height: auto;
  min-width: 22px;
}

.header__lang-link:first-child {
  margin-right: 16px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media all and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
    min-width: 30px;
  }
}

