.intro {
  padding: 64px 16px 0 16px;
  margin: 0;

  align-self: flex-start;
  box-sizing: border-box;

  color: #fff;
  text-align: left;
}

@media all and (min-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media all and (min-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 48px;
    max-width: 80%;
  }
}

@media all and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
    padding-right: 148px;
  }
}
