.cover {
  margin-top: 66px;

  position: relative;
  box-sizing: border-box;


  width: 100%;
  max-width: 1184px;
  background-repeat: no-repeat;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
}

.cover::before {
  content: "";
  display: block;
  padding-top: 62.5%;
  height:0;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
}

.cover:hover:before {
  opacity: 0.8;
}


