.footer {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  padding-left: 16px;
  padding-bottom: 24px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 310px;
  color: #fff;
}

@media all and (min-width: 768px) {
  .footer {
    padding: 0;
    margin-top: 88px;
    padding-right: 24px;
    padding-left: 24px;

    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    min-height: 18px;
  }
}

@media all and (min-width: 1280px) {
  .footer {
    padding: 0;
  }
}
